
.nav-wrapper{
    color: black;    
}
.introText{
    text-align: right;
}
body{
	background:black;
}
.sectionMovies{
    margin: 0%;
    color: black;
}
.tarjetaMovies{
    color: white;
    max-width: 200px;
    cursor: pointer;
}
.imgActor{
    max-width: 100px;
}
.tarjetaActors{
    border: 1px solid white;
}
.winnerMovie{
    color: white;
}
.img.responsive-img{
    border-image-width: 24px;
    border-image-slice: 54 85;
    border-image-outset: 6px;
    border-image-repeat: repeat repeat;
}
#bestFilm, #bestForeignFilm,#bestAnimatedFilm, #bestDirector, #bestActor, #bestActrees, #bestSupportingActrees, #bestSupportingActor {
    background-color:black;
    color: black;
    border-radius: 20%;
    border-style:dotted;   
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.container button{
    margin: 5px;
}
.winners{
    background-image: url("img/win.png");
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    
}  
.winners h5{
    font-size: 20px;
    padding: none;
    border: none;
    margin: none;
} 
.winners h6{
    font-size: 20px;
} 
#compartir{
    text-align: center;
} 
.win{
    padding: 35px;
    
}
.footer{
    background-color: black;
}
.icon{
    float: right;
    width: 60px;
    height: 60px;
}

p{
color:white
font-size: 12;
}

.page-footer{
    background-color:black;
}
.iconos{
    size: 20px 20px;
}