
.nav-wrapper{
    color: black;
}

.introText{
    text-align: right;
}
body{
	background:black;
}

.imgBtn{
    size: 60px 70px;
}
.tarjetaMovies{
    border: 1px solid black;  
}
.tarjetaActors{
  border: 1px solid black;
  max-width: 200px;
  cursor: pointer;
}
.imgActor{
    max-width: 100px;
}
